*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body{
  font-family: Arial;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  color: #fff;
  background: rgb(63,94,251);
 background: radial-gradient(circle, rgb(28, 43, 116) 30%, rgba(252,70,107,1) 100%);
}

input{
  height: 35px;
  width: 200px;
}

button{
  height: 35px;
  text-decoration: none;
  width: 40px;
}

.todo-block{
  background-color: #fff;
  color: #151515;
  font-size: 19px;
  margin-top: 20px;
  border-radius: 10px;
  min-height: 100px;
}

.todo-block p{
  margin-left: 5px;
  margin-top: 10px;
  
}
