*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body{
  font-family: Arial;
  font-size: 16px;
  color: #fff;
  background: rgb(63,94,251);
  /*background: radial-gradient(circle, red,blue 100%);*/
}

/*======= TODO =====*/
input{
  height: 35px;
  width: 200px;
}

button{
  height: 35px;
  text-decoration: none;
  width: 40px;
}

.todo-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.todo-bar{
  display: flex;
  }

.cards-container{
  display: grid;
  grid-template-columns: repeat(3,100px);
  column-gap: 20px;
  row-gap: 20px;
  width: 100%;
  justify-content: center;
}

.card{
  background-color: #fff;
  color: #151515;
  font-size: 19px;
  margin-top: 20px;
  border-radius: 10px;
  height: 100px;
  width: 100px;
}

.card p{
  margin-left: 5px;
  margin-top: 10px;
  
}


